h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#results {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img.round {
  width: 100px;
}

#choices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.choice {
  width: 200px;
}

p#match-result {
  font-size: 40px;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica";
}